@{
    ViewData["Title"] = "Home Page";
}

<section class="position-relative overflow-hidden">
    <div class="container">
        <div style="flex-wrap: nowrap;" class="row">
           @*  <a href="#" class="d-block me-2">
                <img src="~/images/04.svg" width="135" alt="Logo">
            </a> *@



            <div class=" col-xl-5 text-center text-lg-start pt-5 mt-xl-4">

               @*  <a href="#" class="d-block me-2">
                    <img src="~/images/04.svg" width="135" alt="Logo">
                </a> *@
               
                <h1 style="padding-bottom:5rem;  padding-bottom: 1rem; padding-top: 3rem;" class="display-4 pt-5 ">
                    Task Management Assistant You Gonna Love
                 </h1>
                <p class="fs-lg mb-4 mb-lg-5">
                    We offer you a new generation of task management system. Plan, manage &amp; track all your tasks in one flexible tool.
                 </p>
                <a href="#" class="btn btn-primary btn-lg">Get started for free</a>
                <div class="pt-5 mt-xl-5">

                    <h6 class="pt-xl-3 pb-3 pb-lg-4">
                        Largest companies use our tool to work efficiently
                        </h6>
                    <div class="d-flex justify-content-center justify-content-lg-start mx-xl-n2">
                        <a href="#" class="d-block me-2">
                            <img src="~/images/07.svg" width="135" alt="Logo">
                        </a>
                        <a href="#" class="d-block me-2">
                            <img src="~/images/04.svg" width="135" alt="Logo">
                        </a>
                        <a href="#" class="d-block me-2">
                            <img src="~/images/02.svg" width="135" alt="Logo">
                        </a>
                        <a href="#" class="d-block me-2">
                            <img src="~/images/05.svg" width="115" alt="Logo">
                        </a>
                    </div>
                </div>
            </div>

            <div class="parallax mt-4 ms-4 me-lg-0 ms-lg-n5 ms-xl-n3 mt-lg-n4">
                <div class="parallax-layer" data-depth="0.1">
                    <img src="~/images/image.svg" width="950" alt="Layer">
                </div>
               
            </div>
        </div>
    </div>
</section>


<section class="container">
    <h2 class="h1 text-center pb-4 pb-lg-5">What Do You Get with Our Tool?</h2>
    <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-6 text-center pb-md-2 mb-3 mb-lg-4">
            <div class="d-inline-block bg-secondary rounded-circle p-3 mb-4">
                <img src="~/images/chat.svg" width="32" alt="Icon">
            </div>
            <h3 class="h5 pb-1 mb-2"> Comments on Tasks</h3>
            <p class="fs-sm">Id mollis consectetur congue egestas egestas suspendisse blandit justo.</p>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 text-center pb-md-2 mb-3 mb-lg-4">
            <div class="d-inline-block bg-secondary rounded-circle p-3 mb-4">
                <img src="~/images/analytics.svg" width="32" alt="Icon">
            </div>
            <h3 class="h5 pb-1 mb-2">Tasks Analytics</h3>
            <p class="fs-sm">Augue pulvinar justo, fermentum fames aliquamant accumsan vestibulum.</p>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 text-center pb-md-2 mb-3 mb-lg-4">
            <div class="d-inline-block bg-secondary rounded-circle p-3 mb-4">
                <img src="~/images/bell.svg" width="32" alt="Icon">
            </div>
            <h3 class="h5 pb-1 mb-2">Notifications</h3>
            <p class="fs-sm">Mattis urna ultricies non amet, purus in auctor non. Odio vulputate ac nibh.</p>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 text-center pb-md-2 mb-3 mb-lg-4">
            <div class="d-inline-block bg-secondary rounded-circle p-3 mb-4">
                <img src="~/images/tasks.svg" width="32" alt="Icon">
            </div>
            <h3 class="h5 pb-1 mb-2">Sections &amp; Subtasks</h3>
            <p class="fs-sm">A elementum, imperdiet enim, pretium etiam facilisi in aenean quam mauris.</p>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 text-center pb-md-2 mb-3 mb-lg-4">
            <div class="d-inline-block bg-secondary rounded-circle p-3 mb-4">
                <img src="~/images/calendar.svg" width="32" alt="Icon">
            </div>
            <h3 class="h5 pb-1 mb-2">Progress Tracking</h3>
            <p class="fs-sm">Sit facilisis dolor arcu, fermentum vestibulum arcu elementum imperdiet eleifend.</p>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 text-center pb-md-2 mb-3 mb-lg-4">
            <div class="d-inline-block bg-secondary rounded-circle p-3 mb-4">
                <img src="~/images/add-group.svg" width="32" alt="Icon">
            </div>
            <h3 class="h5 pb-1 mb-2">Multiple Assignees</h3>
            <p class="fs-sm">Faucibus cursus maecenas lorem cursus nibh. Sociis sit risus id. Sit facilisis dolor arcu.</p>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 text-center pb-md-2 mb-3 mb-lg-4">
            <div class="d-inline-block bg-secondary rounded-circle p-3 mb-4">
                <img src="~/images/headset.svg" width="32" alt="Icon">
            </div>
            <h3 class="h5 pb-1 mb-2">Support 24/7</h3>
            <p class="fs-sm">Sapien sed massa sit erat pellentesque pellentesque nisl, elementum.</p>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 text-center pb-md-2 mb-3 mb-lg-4">
            <div class="d-inline-block bg-secondary rounded-circle p-3 mb-4">
                <img src="~/images/shield.svg" width="32" alt="Icon">
            </div>
            <h3 class="h5 pb-1 mb-2">Data Security</h3>
            <p class="fs-sm">Aliquet felis facilisi sem nunc. Sapien fermentum, fringilla molestie lorem nec.</p>
        </div>
    </div>
</section>

<section class="container pt-3 pt-md-4 pt-lg-5 pb-2 mt-lg-2 mt-xl-4">
    <div class="row align-items-center">
        <div class="rellax col-md-7" data-rellax-percentage="0.5" data-rellax-speed="-0.6" data-disable-parallax-down="lg">
            <img src="~/images/dashboard.png" class="d-block mx-auto" width="746" alt="Image">
        </div>
        <div class="rellax col-md-5 col-xl-4 offset-xl-1 d-flex d-sm-block flex-column" data-rellax-percentage="0.5" data-rellax-speed="0.8" data-disable-parallax-down="lg">
            <h2 class="pb-3 pt-2 pt-md-0">Manage Your Work</h2>
            <ul class="list-unstyled pb-2">
                <li class="d-flex align-items-center pb-1 mb-2">
                    <i class="bx bx-check-circle text-primary fs-xl me-2"></i>
                    Powerful project management
                </li>
                <li class="d-flex align-items-center pb-1 mb-2">
                    <i class="bx bx-check-circle text-primary fs-xl me-2"></i>
                    Transparent work management
                </li>
                <li class="d-flex align-items-center pb-1 mb-2">
                    <i class="bx bx-check-circle text-primary fs-xl me-2"></i>
                    Manage work &amp; focus on the most important tasks
                </li>
                <li class="d-flex align-items-center pb-1 mb-2">
                    <i class="bx bx-check-circle text-primary fs-xl me-2"></i>
                    Track your progress with interactive charts
                </li>
                <li class="d-flex align-items-center pb-1 mb-2">
                    <i class="bx bx-check-circle text-primary fs-xl me-2"></i>
                    Easiest way to track time spent on tasks
                </li>
            </ul>
            <a href="#" class="btn btn-primary">
                Learn more
                <i class="bx bx-right-arrow-alt fs-xl ms-2"></i>
            </a>
        </div>
    </div>
</section>
