
<style>
    .body-container {
        font-family: Arial, sans-serif;
        background-color: #f4f4f4;
        color: #333;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
    }

    .confirmation-container {
        background-color: #fff;
        padding: 30px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        text-align: center;
    }

        .confirmation-container h1 {
            font-size: 24px;
            margin-bottom: 20px;
        }

        .confirmation-container p {
            font-size: 18px;
            margin-bottom: 20px;
        }

        
</style>
<div class="body-container">
    <div class="confirmation-container">
        <h1>Confirmation Email Sent</h1>
        <p>A confirmation email has been sent to your email address. Please check your inbox and click on the confirmation link to verify your email.</p>
        <p>If you did not receive the email, please check your spam folder.
        <a href="/">Go to Home</a>
    </div>
</div>


